::-webkit-scrollbar {
	display: none;
}

@font-face {
	font-family: 'Elms Sans';
	src: url('/fonts/Elms_Sans/ElmsSans-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	font-weight: 100 700;
	src: url('/fonts/material-symbols-outlined.woff2') format('woff2'),
	     url('/fonts/material-symbols-outlined.ttf') format('truetype');
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	font-feature-settings: 'liga';
	user-select: none;
}

:root {
	color-scheme: dark;
	--bg-dark: #000000;
	--bg: #090909;
	--bg-light: #1c1c1c;
	--text: #eeeeee;
	--text-muted: #d1d1d1;
	--primary: #407cf5;
	--secondary: #0039ae;
	--tertiary: #ade1b5;
	--danger: #c01c28;
	--warning: #e4c447;
	--success: #02c45d;
	--info: #9589f3;
	--border: color-mix(in srgb, var(--secondary) 30%, var(--bg-light));
	--border-subtle: color-mix(in srgb, var(--secondary) 18%, var(--bg-light));
	--divider: color-mix(in srgb, var(--secondary) 25%, var(--bg-light));
}

select option {
	background-color: var(--bg-dark);
	color: var(--text);
}

* {
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	background-color: var(--bg-dark);
	color: var(--text);
	margin: 0;
	font-family: 'Elms Sans', system-ui, sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}

h1, h2, h3, strong {
	font-weight: 700;
	margin: 0
}

hr {
	border: none;
	border-top: 1px solid var(--divider);
	width: 100%;
	margin: 16px 0;
}

.app-layout {
	display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden
}

.main-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}
